{% extends 'teacher\teacher_particular_course_base.html' %}
{% load widget_tweaks %}
{% block header %}
  
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="#">Automatic Attedance System</a>
<div class="collapse navbar-collapse"></div>
<div class="collapse navbar-collapse" id="navbarText">
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'tea_par_course' pk=name  %}">Meeting <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'teacherstudent_attendence' pk=name  %}">Attedance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Student</a>
  </li>
</ul>

</div>
<label for="check">
<i style="    left: 300px;
margin-top: 0px;"class="fas fa-bars" id="sidebar_btn"></i>
</label>

</div>
<div class="right_area" style="    position: absolute;
top: 40px;
right: 10px;">
<a href="/logout" class="logout_btn">Logout</a>
</div> 

</nav> 

{% endblock header %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1,shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
		
	<link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">

	<title>
	    Automatic Attedance System
	</title>
</head>

<body>
	     
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Student name</th>
            <th scope="col">Total class</th>
            <th scope="col">Attend Class</th>
            
          </tr>
        </thead>
        {% for a,b in mylist %}
        <tbody>

          <tr>
            <td>{{a.user.username}}</td>
            <td>{{total}}</td>
            <td>{{b}}</td>
            
          </tr>
        </tbody>
        {% endfor %}
      </table>
      
      
		

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous">
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous">
	</script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous">
	</script>
</body>

</html>

  {% endblock content %}
