{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1,shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
		
	<link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">

	<title>
		Place two bootstrap cards
		next to each other
	</title>
</head>

<body>
	<div class="" style="display:flex; flex-wrap: wrap;justify-content: space-around;">
        {% for course in courses%}
		<div class="card" style="width: 400px; height: 300px;margin: 10px;" >
			<img  class="card-img-top image_url"  alt="Card image cap">
			<div class="card-block">
				<a href="{% url 'tea_par_course' pk=course.id  %}" class="card-title">{{course.course_name}}</a>
				<p class="card-text">
					{{course.join_code}} 
				</p> 

				<p class="card-text">
					<small class="text-muted">
						Last updated 3 mins ago
					</small>
				</p>
			</div>
		</div>

		{% endfor %}
			
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous">
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous">
	</script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous">
	</script>
	<script type="text/javascript">
      
	   function apply_src(){

		url_array=document.querySelectorAll('.image_url');
		url = new Array;
		url[0]='https://gstatic.com/classroom/themes/img_code.jpg'
		 url[1]="https://gstatic.com/classroom/themes/img_backtoschool.jpg"
         url[2]="https://gstatic.com/classroom/themes/img_graduation.jpg"
         url[3]="https://gstatic.com/classroom/themes/Writing.jpg"
         url[4]="https://gstatic.com/classroom/themes/img_graduation.jpg"
		url[5]="https://gstatic.com/classroom/themes/img_learnlanguage.jpg"
		url[6]="https://gstatic.com/classroom/themes/Design.jpg"
		url[7]="https://gstatic.com/classroom/themes/img_code.jpg"
		url[8]="https://gstatic.com/classroom/themes/img_learnlanguage.jpg"
		url[9]="https://gstatic.com/classroom/themes/img_graduation.jpg"
		url[10]="https://gstatic.com/classroom/themes/img_bookclub.jpg"    
			
       url_array.forEach(element => {
		Chooselink = Math.round(Math.random() * (url.length));
			element.src=url[Chooselink];
	   });

	
	   }
    apply_src();
	</script>
</body>

</html>

  {% endblock content %}
